<!DOCTYPE html>
<html>
    <head>
        <title>Kregen Language Home</title>
        <link rel="stylesheet" href="/views/styles.css">
    </head>
    <body>
        <div class="header-tab">
            <h1 class="name">
                Kregen
            </h1>

            <div class="link-parent" id="parent">
                <a href="/views/home.html" class="item" id="home-button parent">Home</a>
            </div>

            <div class="link-parent" id="parent">
                <span class="item" id="text">Rules</span>

                <div class="tab" id="rules-tab">
                    <ul class="tab-content">
                        <li class="tab-item">
                            <a href="/views/rules/structure_and_ipa.html">
                                Syllabic Structure and Phonetic Inventory
                            </a>
                        </li>
                        <li class="tab-item">
                            <a href="/views/rules/sentence_structure.html">
                                Sentence Structure
                            </a>
                        </li>
                        <li class="tab-item">
                            <a href="/views/rules/affixes.html">
                                Affixes
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="link-parent" id="parent">
                <span class="item" id="text">Translations</span>

                <div class="tab" id="translations-tab">
                    <ul class="tab-content">
                        <li class="tab-item">
                            <a href="/views/Translations/paragraphs.html">
                                Paragraphs
                            </a>
                        </li>
                        <li class="tab-item">
                            <a href="/views/Translations/phrases_and_sentences.html">
                                Phrases and Sentences
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="link-parent" id="parent">
                <a href="/views/script.html" class="item" id="rules-button parent">Script</a>
            </div>

            <div class="link-parent" id="parent">
                <span class="item" id="text">Dictionary</span>

                <div class="tab" id="dictionary-tab">
                    <ul class="tab-content">
                        <li class="tab-item">
                            <a href="/views/dictionary/dictionary.html">
                                Dictionary
                            </a>
                        </li>
                        <li class="tab-item">
                            <a href="/views/dictionary/word_generator.html">
                                Word Generator
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="link-parent" id="parent">
                <a href="/views/history.html" class="item" id="rules-button parent">History</a>
            </div>

            <div class="link-parent" id="parent">
                <span class="item" id="text">Legacy</span>

                <div class="tab" id="legacy-tab">
                    <ul class="tab-content">
                        <li class="tab-item">
                            <a href="/views/legacy/old_gen_words.html">
                                Dictionary of Older Generations
                            </a>
                        </li>
                        <li class="tab-item">
                            <a href="/views/legacy/old_gen_scripts.html">
                                Scripts of Older Generations
                            </a>
                        </li>
                        <li class="tab-item">
                            <a href="/views/legacy/old_gen_translations.html">
                                Paragraphs and Sentences
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="test">
            paraghraphs
        </div>

        <script src="/controllers/logic.js"></script>
    </body>
</html>